In [1]:
import numpy as np

In [17]:
numbers = np.random.randint(0,100,100)

In [18]:
numbers

array([82, 53, 71, 32, 57, 55, 19, 31, 24, 43, 66, 62, 50, 64,  6, 37, 48,
       62, 40, 97, 50, 79, 84, 87, 78, 47, 17,  0, 97, 92, 11, 68, 43, 18,
       52, 12, 93, 38, 33, 13, 12, 19, 45, 58, 20, 36, 73, 75, 14, 69, 87,
       35, 16, 89, 54, 96, 11, 60, 85, 44, 48, 97, 62, 83, 77,  0, 40, 66,
       92, 22, 37, 72, 99, 25, 96, 69, 45,  9, 92, 34, 18, 61,  3, 43, 47,
        3, 63, 56, 52, 25, 81,  9, 79, 31, 77, 77, 91,  3, 30, 21],
      dtype=int32)

In [19]:
import pandas as pd

In [20]:
df = pd.DataFrame(numbers,columns=["Numbers"])

In [21]:
len(df["Numbers"])

100

In [24]:
bins = np.linspace(1,100,10,dtype=int)
bins

array([  1,  12,  23,  34,  45,  56,  67,  78,  89, 100])

In [39]:
nList = []
bLow = []
bHigh = []
for n in df["Numbers"]:
    for i,b in enumerate(bins):
        if n>=bins[i] and n<=bins[i+1]:
            nList.append(n)
            bLow.append(bins[i])
            bHigh.append(bins[i+1])

df1 = pd.DataFrame(nList, columns=["Numbers"])
df1["BinsLower"] = bLow
df1["BinsHigh"] = bHigh

In [43]:
df1["Binsize"] = df1["BinsLower"].astype(str) + "-" + df1["BinsHigh"].astype(str)
df1

     Numbers  BinsLower  BinsHigh Binsize
0         82         78        89   78-89
1         53         45        56   45-56
2         71         67        78   67-78
3         32         23        34   23-34
4         57         56        67   56-67
..       ...        ...       ...     ...
101       77         67        78   67-78
102       91         89       100  89-100
103        3          1        12    1-12
104       30         23        34   23-34
105       21         12        23   12-23

[106 rows x 4 columns]

In [51]:
df1 = df1.drop(["BinsLower","BinsHigh"],axis=1)

In [52]:
df1 = df1.sort_values(by="Binsize", ascending=True).reset_index(drop=True)
df1

     Numbers Binsize
0          3    1-12
1         11    1-12
2         12    1-12
3          6    1-12
4         12    1-12
..       ...     ...
101       97  89-100
102       91  89-100
103       96  89-100
104       92  89-100
105       93  89-100

[106 rows x 2 columns]